body {
  background-color: rgb(245, 245, 245);
}

h1 > a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black; 
}

section {
  display: flex;
  flex-wrap: wrap;
}

div {
  margin: 1rem;
  padding: 1rem;
  box-shadow: 2px 2px 5px rgb(211, 211, 211);
}